In [1]:
import numpy as np 
import pandas as pd
import sklearn as sk

In [2]:
import pickle
X_train = pickle.load(open("X_train.pkl", "rb"))
X_test = pickle.load(open("X_test.pkl", "rb"))
y_train = pickle.load(open("y_train.pkl", "rb"))
y_test = pickle.load(open("y_test.pkl", "rb"))

In [3]:
X_train

,number_inpatient,discharge_disposition_id,number_emergency,num_medications,time_in_hospital,num_lab_procedures,DXDiabetes,number_outpatient,DXHypertension,number_diagnoses,...,age_20-30),admission_type_id,age_0-10),DXFluid,age_80-90),max_glu_serum_300,DXPneumonia,A1Cresult_Norm,A1Cresult_8,metformin_No
34391,0,5,0,11,6,65,0,0,0,7,...,0,3,0,1,0,0,0,0,0,1
36972,1,1,0,17,2,47,0,0,0,9,...,0,1,0,0,0,0,0,0,0,1
44088,1,1,0,6,2,10,0,0,0,7,...,0,1,0,0,1,0,0,0,0,1
38764,0,1,0,15,1,13,0,0,0,8,...,0,3,0,0,0,0,0,1,0,0
71088,0,1,0,13,3,57,0,0,0,7,...,0,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6390,0,6,0,21,2,23,0,0,0,8,...,0,1,0,0,0,0,1,0,0,1
56169,2,1,0,16,7,58,0,0,1,9,...,0,1,0,0,0,0,0,0,0,1
78419,0,5,0,19,5,44,1,4,0,9,...,0,3,0,0,0,0,0,0,0,1
889,1,25,0,11,3,40,0,0,0,8,...,0,6,0,1,0,0,0,0,0,1
16072,1,18,0,9,2,1,0,0,0,6,...,0,3,0,0,0,0,0,0,0,0

In [4]:
X_test

,number_inpatient,discharge_disposition_id,number_emergency,num_medications,time_in_hospital,num_lab_procedures,DXDiabetes,number_outpatient,DXHypertension,number_diagnoses,...,age_20-30),admission_type_id,age_0-10),DXFluid,age_80-90),max_glu_serum_300,DXPneumonia,A1Cresult_Norm,A1Cresult_8,metformin_No
47337,0,6,0,16,1,11,0,0,0,9,...,0,3,0,0,0,0,0,0,0,1
82295,0,3,0,2,4,3,0,0,0,7,...,0,2,0,0,1,0,0,0,0,1
44783,2,1,0,29,11,27,0,0,0,9,...,0,1,0,0,0,0,0,0,0,1
84950,0,1,0,11,2,37,0,1,1,9,...,0,2,0,0,0,0,0,0,0,1
67971,1,3,0,8,1,45,0,0,0,9,...,0,3,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60364,0,23,0,25,5,38,0,0,0,9,...,0,1,0,1,0,0,0,0,1,0
94177,3,1,0,19,6,31,0,5,0,9,...,0,1,0,0,0,0,0,0,0,1
64517,0,1,0,14,2,52,0,0,1,6,...,0,5,0,0,0,0,0,0,0,0
31907,0,1,0,12,2,77,0,0,0,9,...,0,6,0,0,0,0,0,0,1,1
8374,0,1,0,18,6,52,0,0,0,5,...,0,3,0,0,0,0,0,0,0,1

In [5]:
import sklearn
import imblearn

In [6]:
from imblearn.over_sampling import SMOTE
# transform the dataset due to the imbalance issue using SMOTE

# sampling strategy allows us to pick ratio of minority oversampling over majority. 1.0 = 50/50
oversample = SMOTE(sampling_strategy='auto', random_state=42)

In [7]:
X_train_smote, y_train_smote = oversample.fit_resample(X_train, y_train)

In [8]:
X_train_smote.shape

(123576, 40)

In [9]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train_smote)

StandardScaler()

In [10]:
X_train_scale = scaler.transform(X_train_smote)
X_test_scale = scaler.transform(X_test)

In [11]:
from sklearn import svm

In [12]:
param_grid = {"C": np.arange(0.01, 3, 0.2), 'gamma': [0.01,0.1,1,10,100]}

In [14]:
svc1_rs = sk.model_selection.RandomizedSearchCV(svc1, param_grid, cv = 3, scoring = 'roc_auc', n_jobs = -1, verbose = 0)

In [13]:
svc1 = sk.svm.SVC(kernel='rbf')

In [15]:
svc1_rs.fit(X_train_scale, y_train_smote)

RandomizedSearchCV(cv=3, estimator=SVC(), n_jobs=-1,
                   param_distributions={'C': array([0.01, 0.21, 0.41, 0.61, 0.81, 1.01, 1.21, 1.41, 1.61, 1.81, 2.01,
       2.21, 2.41, 2.61, 2.81]),
                                        'gamma': [0.01, 0.1, 1, 10, 100]},
                   scoring='roc_auc')

In [17]:
svc1_rs.best_params_

{'gamma': 0.1, 'C': 2.21}

In [18]:
svc1_rs.best_estimator_

SVC(C=2.21, gamma=0.1)

In [19]:
y_pred1 = svc1_rs.best_estimator_.predict(X_test_scale)

In [20]:
sk.metrics.confusion_matrix(y_test, y_pred1)

array([[23389,  3146],
       [ 2777,   536]], dtype=int64)

In [21]:
print(sk.metrics.classification_report(y_test, y_pred1))

              precision    recall  f1-score   support

           0       0.89      0.88      0.89     26535
           1       0.15      0.16      0.15      3313

    accuracy                           0.80     29848
   macro avg       0.52      0.52      0.52     29848
weighted avg       0.81      0.80      0.81     29848

In [22]:
y_pred1_train = svc1_rs.best_estimator_.predict(X_train_scale)

In [23]:
sk.metrics.confusion_matrix(y_train_smote, y_pred1_train)

array([[56132,  5656],
       [ 6152, 55636]], dtype=int64)

In [24]:
print(sk.metrics.classification_report(y_train_smote, y_pred1_train))

              precision    recall  f1-score   support

           0       0.90      0.91      0.90     61788
           1       0.91      0.90      0.90     61788

    accuracy                           0.90    123576
   macro avg       0.90      0.90      0.90    123576
weighted avg       0.90      0.90      0.90    123576

In [25]:
#params = {"C": np.arange(0.01, 3, 0.2)}

In [26]:
#svc2 = sk.svm.SVC(kernel = 'linear')

In [27]:
#svc2_rs = sk.model_selection.RandomizedSearchCV(svc2, params, cv = 3, scoring = 'roc_auc', n_jobs = -1, verbose = 0)

In [ ]:
#svc2_rs.fit(X_train_scale, y_train_smote)

In [18]:
#y_pred2 = svc2_rs.predict(X_test_scale)

In [ ]:
#sk.metrics.confusion_matrix(y_test, y_pred2)

In [ ]:
#print(sk.metrics.classification_report(y_test, y_pred2))

In [21]:
#y_pred2_train = svc_poly.predict(X_train_scale)

In [ ]:
#print(sk.metrics.classification_report(y_train_smote, y_pred2_train))

In [24]:
from sklearn.naive_bayes import MultinomialNB

cnb = MultinomialNB()
cnb.fit(X_train_smote, y_train_smote)
y_cnb = cnb.predict(X_test)

In [25]:
cnb.score(X_test, y_test)

0.718425548692338

In [26]:
print(sk.metrics.classification_report(y_test, y_cnb))

              precision    recall  f1-score   support

           0       0.91      0.76      0.83     13604
           1       0.15      0.36      0.21      1614

    accuracy                           0.72     15218
   macro avg       0.53      0.56      0.52     15218
weighted avg       0.83      0.72      0.76     15218